@tailwind components;

@layer components {
    .header_protector {
        min-height: 60px;
        height: 60px
    }

    .header {
        @apply fixed top-0 h-[60px] w-full flex flex-1 justify-center items-center px-6 py-3 bg-sky-900 z-10;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
        max-width: inherit;
    }

    .logo {
        @apply absolute left-6 select-none text-base font-bold tracking-wide;
    }

    .search {
        @apply w-[450px] h-full flex justify-center items-center;
    }

    .search>input {
        @apply w-full h-full px-4 rounded-full text-black;
    }
}