@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body {
  background-color: #fefefe;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

@layer components {
  .gl_category_tag {
    @apply flex items-center justify-start w-fit bg-sky-600 text-white text-[0.85rem] tracking-wider italic px-5 py-2 rounded-full;
  }
}