@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  margin: 0;
}

body {
  background-color: #fefefe;
}

a {
  text-decoration: none;
  color: inherit;
}

@layer components {
  .gl_filter_tag {
    @apply w-fit bg-sky-500 text-white text-[0.85rem] tracking-wider italic px-5 py-2 rounded-full cursor-pointer transition-colors hover:bg-sky-700;
  }
}