@tailwind components;

@layer components {
    .container {
        @apply text-white grid grid-cols-2 gap-2 px-4 w-full border-b-2 pb-6 mb-6 
        md:grid-cols-4;
    }

    .category_item {
        @apply flex justify-center items-end h-[160px] bg-cover rounded-md font-extrabold drop-shadow-lg pb-2 
        md:bg-center md:h-[260px]
        lg:bg-top;
        box-shadow: inset 0px -30px 25px 0 rgba(0, 0, 0, 0.4);
    }

    .all_category_item {
        @apply flex justify-center items-end h-[120px] bg-cover col-span-2 rounded-md font-extrabold drop-shadow-lg pb-2
         md:col-span-4 md:h-[220px] md:bg-[100%];
        box-shadow: inset 0px -30px 25px 0 rgba(0, 0, 0, 0.4);
    }
}